.carousel-container {
  position: relative;
  overflow-x: hidden;
  margin: 2rem 1rem;
}

.carousel-wrapper {
  display: flex;
  width: 100vw;
  transition: transform 0.5s ease-in-out;
}

.carousel-img {
  width: 20rem;
  height: 15.625rem;
  margin-right: 0.938rem;
  border-radius: 0.938rem;
  opacity: 50%;
}

.carousel-img.active {
  opacity: 100%;
}

.controls {
  display: flex;
  justify-content: center;
}

.prev,
.next {
  width: 4rem;
  height: 4rem;
  background-color: var(--head-text1);
  border-radius: 50%;
}

.prev {
  margin-right: 1rem;
}

.prev:hover,
.next:hover {
  background-color: var(--btn1-hover);
}

button {
  cursor: pointer;
  border: none;
}

button img {
  display: inline-block;
  height: 1rem;
  width: 0.938rem;
}
@media (width >= 48em) {
  .carousel-container {
    margin: 3.5rem 1rem;
  }
  .carousel-img {
    width: 21.875rem;
  }
}
