<div class="carousel-container">
  <div class="carousel-wrapper">
    @for (image of images(); track $index){
    <img
      [src]="image.src"
      [alt]="image.alt"
      [class.active]="$index === currentIndex"
      class="carousel-img"
    />
    }
  </div>
</div>

<div class="controls">
  <button class="prev" (click)="toPrevSlide()">
    <img src="/assets/icon-arrow-left.svg" alt="left arrow" />
  </button>

  <button class="next" (click)="toNextSlide()">
    <img src="/assets/icon-arrow-right.svg" alt="right arrow" />
  </button>
</div>
