header{
    display:flex;
    justify-content: space-between;
}

img{
    height:3rem;
    width:3rem;
    margin: 1rem 0 1rem 1rem;
}

.button{
    margin-right:1rem;
    margin-top:1rem;
    

}
@media (width >= 768px) {
    img{
        height:4rem;
        width:4rem;
    }
  }
  
  @media (width >= 1440px) {
    
  }
  
