@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --graphicDesign:#755cde;
    --ui-ux:#f6a560;
    --apps:#f39e9e;
    --illustrations:#eb7565;
    --photography:#61c4b7;
    --motionGraphics:#552049;
    --head-text1:#030303;
    --head-text2:#fff7f0;
    --para-text1:#fff7f0;
    --para-text2:#7a746e;
    --btn1-idle:#030303;
    --btn2-idle:#eb7565;
    --btn1-hover:#755cde;
    --btn2-hover:#f6a560;
    font-family: "Plus Jakarta Sans", serif;
    
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}