.card-flex-container{
   display:flex;
   flex-direction: column;
   color:var(--head-text2)
}

img{
    height: 100px;
    align-self: flex-end;    
}

p{
    font-weight: 700;
    font-size: 1.5rem;
}
