.card-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--head-text2);
  min-height:100%;
}

img {
  margin-top: 1.5rem;
  margin-right: 1.5em;
  align-self: flex-end;
}

p {
  position:relative;
  top:2rem;
  margin-left:1.5rem;
  margin-bottom:4rem;
  font-weight: 700;
  font-size: 1.5rem;
}
