button {
  height: 2.75rem;
  width: 11rem;
  color: var(--head-text2);
  border: none;
  border-radius: 28px;
  font-weight: 700;
  font-size: .875rem;
  line-height: 28%;
}

@media (width >= 768px) {
  button {
    height: 3.5rem;
    width: 14.25rem;
    font-size: 1rem;
  }
}

@media (width >= 1440px) {
  button {
    width: 14.25rem;
  }
}
